/*
 * Utility Classes
 */

.text--center {
    text-align: center;
}

.gutter--left {
    padding-left: 20px;
}

.margin--top {
    margin-top: 5px;
}
.margin--right {
    margin-right: 5px;
}

.margin--left--md {
    margin-left: 20px;
}

.block {
    display: block;
}

.ul--plain {
    list-style-type: none;
    padding: 0 0;
}